body {
	background-color: #FFAA00;
}


.title {
	color: rgba(255,255,255,1);
	text-decoration: underline;
	font-weight: lighter;
	transition-delay: 4s;
  	transition-duration: 1s;
  	display: flex;
  	justify-content: center;
  	margin-top: 10%;
}

.words {
	display: flex;
	justify-content: center;
	margin: 0;
}

.images {
	display: flex;
	align-self: center;
	justify-content: center;
	margin: 0;
}

.buttons {
	display: flex;
	align-self: center;
	justify-content: center;
	height: 102px;
}

.words2 {
	display: flex;
	justify-content: center;
	margin: 0;
}

.picture {
	width: 200px;
	height: 100px;
	display: inline-block;
	margin: 0px 4px 50px 4px;
	object-fit: cover;
}


.buttons_self.option1{
	border-top: 2px solid #1B09AF;
	border-right: 2px solid #1B09AF;
	border-left: 2px solid #1B09AF;
	display: flex;
  	justify-content: center;
  	align-items:center;
	background-color: #FFFFFF;
	margin: 0px 4px 0px 4px;
	height: 30px;
	width: 200px;
}

.buttons_self.option2{
	border-top: 2px solid #1B09AF;
	border-right: 2px solid #1B09AF;
	border-left: 2px solid #1B09AF;
	display: flex;
  	justify-content: center;
  	align-items:center;
	background-color: #FFFFFF;
	margin: 0px 4px 0px 4px;
	height: 30px;
	width: 200px;
}

.buttons_self2.option1{
	border-bottom: 2px solid #1B09AF;
	border-right: 2px solid #1B09AF;
	border-left: 2px solid #1B09AF;
	width: 200px;
	height: 100px;
	display: inline-block;
	margin: 0px 4px 50px 4px;
	object-fit: cover;
}

.buttons_self2.option2{
	border-bottom: 2px solid #1B09AF;
	border-right: 2px solid #1B09AF;
	border-left: 2px solid #1B09AF;
	width: 200px;
	height: 100px;
	display: inline-block;
	margin: 0px 4px 50px 4px;
	object-fit: cover;
}


@keyframes color_change {
  from {background-color: #FFFFFF; color: #000000;} /*Animates options when page loads*/
  to {background-color: #1B09AF; color: #FFFFFF;}
 
}

.text_background_first{
	background-color: #FFFFFF;
	animation-name: color_change;
  	animation-duration: 1s;
  	animation-iteration-count: 2;
  	animation-direction: alternate;
  	display: flex;
  	justify-content: center;
  	align-items:center;
	background-color: #FFFFFF;
	margin: 0px 4px 0px 4px;
	height: 30px;
	width: 200px;
}

.text_background_second{
	background-color: #FFFFFF;
	animation-name: color_change;
	animation-delay: 2s;
  	animation-duration: 1s;
  	animation-iteration-count: 2;
  	animation-direction: alternate;
  	display: flex;
  	justify-content: center;
  	align-items:center;
	background-color: #FFFFFF;
	margin: 0px 4px 0px 4px;
	height: 30px;
	width: 200px;
}

@keyframes text_color_change { 					/*Animates correct answer when page loads*/
  from {color: rgba(255,255,255,0);}
  to {color: rgba(255,255,255,1);}
 
}

@keyframes slideInFromBottom {
  0%, 75% {transform: translateY(100%); color: rgba(255,255,255,0);}
  100% {transform: translateY(0); color: rgba(255,255,255,1);}
}

@keyframes appear {
  0% {display:block; opacity: 0; width: 100px;}
  25% {display:block; opacity: 1; width: 100px;}
  50% {display:block; opacity: 1; width: 100px;}
  100% {display:block; opacity: 0; width: 100px;}
}

.hidden.appear{
	display: block;
	animation: 2s linear 0s 1 appear;
	object-fit: cover;
	width: 100px;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	margin: auto;
}

.hidden {
	display: none;
	width: 100px;
	object-fit: cover;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	margin: auto;
}
.title{
	animation: 6s ease-out 0s 1 slideInFromBottom;
}


.first_column{
	position: relative;
}

.second_column{
	position: relative;
}

.title.second_title {
	color: rgba(255,255,255,1);
	text-decoration: underline;
	font-weight: lighter;
	transition-delay: 1s;
  	transition-duration: 1s;
  	display: flex;
  	justify-content: center;
  	margin-top: 10%;
  	animation: 6s ease-out 0s 1 slideInFromBottom;
}
