body {
	background-color: #FFAA00;
}


h1 {
	text-align: center;
	margin-top: 10%;
	color: rgba(255,255,255,1);
	text-decoration: underline;
	font-weight: lighter;
	transition-delay: 4s;
  	transition-duration: 1s;
}

.words {
	display: flex;
	justify-content: center;
	margin: 0;
}

.images {
	display: flex;
	align-self: center;
	justify-content: center;
	margin: 0;
}

.buttons {
	display: flex;
	align-self: center;
	justify-content: center;
	
}

.words2 {
	display: flex;
	justify-content: center;
	margin: 0;
}

p {
	display: flex;
  	justify-content: center;
  	align-items:center;
	background-color: #FFFFFF;
	margin: 0px 4px 0px 4px;
	height: 30px;
	width: 200px;
}

img {
	width: 200px;
	height: 100px;
	display: inline-block;
	margin: 0px 4px 50px 4px;
	object-fit: cover;
}

.buttons_self.option1{
	border-top: 2px solid #1B09AF;
	border-right: 2px solid #1B09AF;
	border-left: 2px solid #1B09AF;
	width: 198px;
}

.buttons_self.option2{
	border-top: 2px solid #1B09AF;
	border-right: 2px solid #1B09AF;
	border-left: 2px solid #1B09AF;
	width: 198px;
}

.buttons_self2.option1{
	border-bottom: 2px solid #1B09AF;
	border-right: 2px solid #1B09AF;
	border-left: 2px solid #1B09AF;
	width: 198px;
}

.buttons_self2.option2{
	border-bottom: 2px solid #1B09AF;
	border-right: 2px solid #1B09AF;
	border-left: 2px solid #1B09AF;
	width: 198px;
}

.buttons_self3{
	position: relative;
	bottom: 160px;
	left: 39%;
	z-index: 2;
	opacity: 0.0;
}
@keyframes color_change {
  from {background-color: #FFFFFF; color: #000000;} /*Animates options on page load*/
  to {background-color: #1B09AF; color: #FFFFFF;}
 
}

.text_background_first{
	background-color: #FFFFFF;
	animation-name: color_change;
  	animation-duration: 1s;
  	animation-iteration-count: 2;
  	animation-direction: alternate;
}

.text_background_second{
	background-color: #FFFFFF;
	animation-name: color_change;
	animation-delay: 2s;
  	animation-duration: 1s;
  	animation-iteration-count: 2;
  	animation-direction: alternate;
}

@keyframes text_color_change { 					/*Animates correct answer*/
  from {color: rgba(255,255,255,0);}
  to {color: rgba(255,255,255,1);}
 
}

@keyframes slideInFromBottom {
  0%, 75% {transform: translateY(100%); color: rgba(255,255,255,0);}
  100% {transform: translateY(0); color: rgba(255,255,255,1);}
}

.title{
	animation: 6s ease-out 0s 1 slideInFromBottom;
}




